{{#partial "content"}}

    <h2>YOUR MATCHES</h2>

    <p>People that like you back: {{size}}</p>
    {{#if matches}}
        {{#each matches}}
            <br>
            <h3>{{realName}}</h3>
            <p>{{userTagLine}}</p>
            <p>{{cGender}}</p>
            <p>{{cPreferredGender}}</p>
            <p>{{age}}</p>
            <p>{{location}}</p>
            <p>{{sign}}</p>
            <p>{{job}}</p>
            <p>{{kids}}</p>
            <p><a href="/profile/{{our_user.id}}/search/{{id}}"><button>View Profile</button></a></p>
        {{/each}}
    {{else}}
        <p>no one likes you</p>
    {{/if}}

{{/partial}}
{{> layout.hbs}}