{{#partial "title"}}profile.hbs{{/partial}}

{{#partial "header"}}
{{/partial}}

{{#partial "nav"}}
{{/partial}}

{{#partial "content"}}
        <h2>{{login.userName}}</h2>
        <p>Name: {{user.realName}}</p>
        <p>{{user.userTagLine}}</p>
        <p>Gender: {{gender}}</p>
        <p>Seeking: {{preferredGender}}</p>
        <p>Birthday: {{login.birthday}}</p>
        <p>Age: {{user.age}}</p>
        <p>Location: {{user.location}}</p>
        <p>Astrological Sign: {{user.sign}}</p>
        <p>Job: {{user.job}}</p>
        <p>Do you want to have children? {{user.kids}}</p>

        <a href="/profile/{{user.id}}/matches"><button>View Matches</button></a><br>
        <a href="/profile/{{user.id}}/search"><button>View Potential Matches</button></a><br>
        <a href="/profile/{{user.id}}/update"><button>Update Profile</button></a><br>
        <a href="/profile/{{user.id}}/delete"><button>Delete Profile</button></a><br>
{{/partial}}

{{#partial "footer"}}
{{/partial}}

{{> layout.hbs}}