{{#partial "content"}}

<!--added for visibility and debugging:-->
<style>
body {color:black;}
</style>
<!---->

<h2>{{login.userName}}</h2>

<p>Name: {{user.realName}}</p>

<p>{{user.userTagLine}}</p>

<p>Gender: {{gender}}</p>

<p>Seeking: {{preferredGender}}</p>

<p>Birthday: {{login.birthday}}</p>



<p><a href="/profile/{{user.id}}/search">View Potential Matches</a></p>
<p><a href="/profile/{{user.id}}/matches">View Matches</a></p>
<p><a href="/profile/{{user.id}}/update">Update Profile</a></p>
<p><a href="/profile/{{user.id}}/delete">Delete Profile</a></p>


<form actions="/profile/{{user.id}}/matches" method="get">
    <input type="submit" class="btn btn-default" value="View Matches">
</form>

<form actions="/profile/{{user.id}}/search" method="get">
    <input type="submit" class="btn btn-default" value="View Potential Matches">
</form>

<form actions="/profile/{{user.id}}/update" method="get">
    <button type="submit" class="btn btn-default">Update Profile</button>
</form>

<form actions="/user/:userId/profile/delete" method="get">
    <button type="submit" class="btn btn-default">Delete Profile</button>
</form>


{{/partial}}
{{> layout.hbs}}