{{#partial "title"}}search.hbs{{/partial}}

{{#partial "content"}}
<div class="col m12 center">
    <h2>USER PROFILES</h2>
</div>
    <p>Singles in your area: {{size}}</p>
    {{#if users}}
        {{#each users}}
        <div class="col m6 ">
            <br>
            <img class="profilePicSmall" src="{{profilePic}}">
            <h3>{{realName}}</h3>
            <p>{{userTagLine}}</p>
            <p>{{cGender}}</p>
            <p>{{cPreferredGender}}</p>
            <p>{{age}}</p>
            <p>{{location}}</p>
            <p>{{job}}</p>
            <p>{{sign}}</p>
            <p>{{kids}}</p>
            <p>{{email}}</p>
            <p>{{phone}}</p>
            <p><a href="/profile/{{our_id}}/search/{{id}}">view user</a></p>
        </div>
        {{/each}}
    {{else}}
        <p>no users for you</p>
    {{/if}}

{{/partial}}
{{> layout.hbs}}
