{{#partial "title"}}search.hbs{{/partial}}

{{#partial "content"}}
<div class="col m12 center">
    <h2>USER PROFILES</h2>
</div>
    <p>Singles in your area: {{size}}</p>
    {{#if users}}
        {{#each users}}
        <div class="col m6 ">
            <br>
            <img class="profilePicSmall" src="{{profilePic}}">
            <h3>{{realName}}</h3>
            <p>{{userTagLine}}</p>
            <p>{{gender}}</p>
            <p>{{age}} years old</p>
            <p>Location: {{location}}</p>
            <p>Sign: {{sign}}</p>
            <p>Career: {{job}}</p>
            <p>{{preferredGender}}</p>
            <p>Wants children? {{kids}}</p>
            <p>Email: {{email}}</p>
            <p>Phone: {{phone}}</p>
            <p><a href="/profile/{{our_id}}/search/{{id}}">view user</a></p>
        </div>
        {{/each}}
    {{else}}
        <p>no users for you</p>
    {{/if}}

{{/partial}}
{{> layout.hbs}}
