{{#partial "title"}}search.hbs{{/partial}}

{{#partial "content"}}

<h2>USER PROFILES</h2>

    <p>Singles in your area: {{size}}</p>
    {{#if users}}
        {{#each users}}
            <br>
            <h3>{{realName}}</h3>
            <p>{{userTagLine}}</p>
            <p>{{cGender}}</p>
            <p>{{cPreferredGender}}</p>
            <p>{{age}}</p>
            <p>{{location}}</p>
            <p>{{job}}</p>
            <p>{{sign}}</p>
            <p>{{kids}}</p>
            <p>{{email}}</p>
            <p>{{phone}}</p>
            <p><a href="/profile/{{our_id}}/search/{{id}}">view user</a></p>
        {{/each}}
    {{else}}
        <p>no users for you</p>
    {{/if}}

{{/partial}}
{{> layout.hbs}}
