{{#partial "content"}}

    <!--added for visibility and debugging:-->
    <style>
body {color:black;}
</style>
    <!---->

    <h2>Potential match:</h2>

    <p>Name: {{profile.realName}}</p>

    <p>{{profile.userTagLine}}</p>

    <p>Gender: {{profile.gender}}</p>

    <p>Seeking: {{profile.preferredGender}}</p>


    <a href="/profile/{{our_user.id}}/search/{{profile.id}}"><button>( ͡° ͜ʖ ͡°)<small> Like</small></button></a><br>

{{/partial}}
{{> layout.hbs}}